.header {
  padding: 1.2rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-image: url("../images/2024_09.png");
  background-position: top;
  background-size: 100% 200%;
}

.nav {
  background-color: black;
  color: white;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin: 5px;
  margin-bottom: 3px;
}

.nav a {
  display: inline-block;
  padding: 8px 11px 5px 12px;
  color: inherit;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.nav a:hover {
  border-bottom: 3px solid yellow;
}
