.noticeAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  /* border: 1px solid black; */
}

.noticeBox {
  padding: 5rem;
  width: 60%;
  height: 80%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.titleBox {
  flex: 1;
  input.title {
    width: 80%;
  }
}

input.content {
  display: block;
  height: auto;
}
